/* || General */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* || Game Board */
.board {
    margin: auto;
    display: grid;
    position: relative;
    height: 491px;
    width: 423px;
    grid-template-areas: "board-grid";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.board-img {
    filter: drop-shadow(1px 1px 5px black);
    z-index: -1;
    position: relative;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;

}
.column {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column:hover {
    box-shadow: 0 0 10px darkblue;
}
.p1checker {
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 100%;
    margin: 7%;
    margin-top: 7%;
    height: 86%;
    width: 86%;
    background-color: red;
}
.p2checker {
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 100%;
    margin: 7%;
    margin-top: 7%;
    height: 86%;
    width: 86%;
    background-color: yellow;
}
.hint {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: black;
    filter: drop-shadow(1px 1px 1px black);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.hint .popup {
    background-color: beige;
    filter: drop-shadow(1px 1px 1px black);
    visibility: hidden;
    position: absolute;
    opacity: 1;
    width: 300px;
    text-align: left;
    top: 0px;
    left: 60px;
}
.hint .show {
    visibility: visible;
}
.hint img {
    display: block;
    margin: auto;
    max-height: 95%;
    max-width: 95%;
}

/* || ID Specific*/
#turnDisplay {
    text-align: center;
}
#logo {
    display: grid;
    margin: auto;
    height: auto;
    max-width: 500px;
}
#col0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;
}
#col1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
}
#col2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
}
#col3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}
#col4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}
#col5 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
}